<h3>Hey <%= session[:user] %></h3>
<form method="post" id="form">
	<dt>Authorize User for contribution: <input name="authorize_user" type="text"> <input name="submit_auth" type="submit" value="submit"></dt>
</form> 