<html>
	<style>
	    #submit_new_username{
            background-color: white;
            color: black;
            font-family: Helvetica;
            font-weight: bold;
            font-size: 20px;
            border: 1px solid #000000;
            transition-duration: 0.4s;
            -webkit-transition-duration: 0.4s;}
        #submit_new_username:hover{
            background-color: #000000;
            color: white;
            border: 1px solid white;
        } 
    </style>
	<body>
		<form method="post">
            <p>Original Password: <input name="p0" type="password" id="p0"></p>
            <p>New Password: <input name="p1" type="password" id="p1"></p>
			<p>Confirm Password: <input name="p2" type="password" id="p2"></p>
			<p><%="Incorrect Password" if @password_conflict %></p>
            <p><%="New Passwords do not Match" if @bad_password %></p>
			<input name="submit_new_password" type="submit" id="submit_new_password" value="Submit New Password">
		</form>
	</body>
</html>