<html>
<style>
#feedback_post{float:left;}
</style>
<body>
	<p1>Many of the features in this website will likely have some flaws</p1>
	<p>Please send any feedback you have including bugs or suggestions</p>
	<p>The American Voice Team appreciates all of your help</p>
	<p>We will recieve all feedback posts via email and will gladly get back to you</p>
	<br>
	<form class="form" method="post" id="feedback_post">
		<dd>Subject</dd>
		<dd><input name="subject" type="text" id="subject"></dd>
		<dd>Body</dd>
		<dd><textarea name="message" id="message" style="width:500px;height:400px; " ></textarea></dd>
		<dd><input name="submit_feedback" type="submit" value="Submit Feedback" id="submit_feedback"></dd>
	</form>
</body>
</html>