<!-- home.erb -->
<p>Adrian, make this shit look A++</p>
<form method="post">
	<p><input name="login" type="submit" value="Login"></p>
	<p><input name="register" type="submit" value="Register"></p>
</form>
