<html>
<h3>New Image Post</h3>
<body>
<p1>Note: A full image uploading system is under development</p1>
<br>
<p1>In the mean time, please click on the following</p1>
<br>
<a href="http://imgur.com/upload" target="_blank"> Imgur Upload
</a>
<br>
<p1>Upload your desired image and post the link below</p1>
<form method="post">
<d1>
<dt>Image Title:</dt>
<dd><input name="image_title" type="text"></dd>
<dt>Imgur Link:</dt>
<dd><input name="imgur_link" type="text"></dd>
</d1>
<dt>Tags:</dt>
<dd><input name="tags" type="text"></dd>
	<p><input name="enter_post" type="submit" value="Submit Image" id="enter_post"></p>
</form>
</body>
</html>