<html>
<style>

h3{font-family: helvetica;
	font-size:20px;
	border-bottom:2px black;
	border-bottom-style:solid;
	text-align: center;}
#form{border:2px black solid;
	width:300px;}
p1{padding-left: 20px;
	padding-right:20px;
	text-align: justify;
	font-family: helvetica;}
#imgur_link{font-family: helvetica;
	background-color: #333333;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 32px;
			margin-left: 70px;
            color: white;
            font-weight: bold;
            font-size: 20px;
            transition-duration: 0.4s;
            -webkit-transition-duration: 0.4s; <!-- enter post button-->}
#imgur_link:hover,#imgur_link:active{background-color: black;}
}
d1,dt1{font-family: helvetica;
	font-weight: bold;
}
#enter_post{background-color: white;
			margin-left: 47px;
            color: black;
            font-family: Helvetica;
            font-weight: bold;
            font-size: 20px;
            border: 1px solid #000000;
            margin-bottom: 20px;
            transition-duration: 0.4s;
            -webkit-transition-duration: 0.4s; <!-- enter post button-->}
#enter_post:hover{background-color: #000000;
     		color: white;
            border: 1px solid white;}
#logo{width:100px;
		height: 50px;}
dt{font-family: helvetica;
		margin-left: 40px;
		font-weight: bold;}
dt1{margin-left: 40px;
	font-family: helvetica;
	color: red;
}
</style>
<body>
<form method="post" id="form">
<h3>New Image Post</h3>
<p1>Note: A full image uploading</p1>
<br>
<p1> system is under development</p1>
<br>
<p1>In the mean time, please </p1>
<br>
<p1>click on the following link to:</p1>
<a href="http://imgur.com/upload"  id="imgur_link"><img src="/images/imgurlogo.png" alt="" id="logo"></a>
<br>
<p1>Upload your desired image</p1>
<br>
<p1>and post the link below.</p1>
<d1>
<dt>Image Title:</dt>
<dd><input name="image_title" type="text"></dd>
<dt1><%="You forgot to add a title" if @empty_title%></dt1>
<dt1><%="This title is already taken" if @title_conflict%></dt1>
<dt>Imgur Link:</dt>
<dd><input name="imgur_link" type="text"></dd>
<dt1><%="This must be an Imgur link" if @bad_link%></dt1>
</d1>
<dt>Tags:</dt>
<dd><input name="tags" type="text"></dd>
<dt1><%="Must include some tags" if @empty_tag %></dt1>
	<p><input name="submit" type="submit" value="Submit Image" id="enter_post"></p>

</form>
</body>
</html>