<!-- layout.erb -->
<!doctype html>
    <style>
        header {
            border-bottom: 5px solid white;
            border-bottom-style: ridge;
            height: 45px;
        }
        h1 {
            display: inline-block;
            color: black;
            font-family:Helvetica;
            font-weight: bolder;
            margin: 0;
            padding: 0;
            line-height: 57px;
        }
        .form {
            margin: 0;
            padding: 0;
            float: right;
            display: inline-block;
            line-height: 62px;
        }
        #post{
            background-color: white;
            color: black;
            font-family: Helvetica;
            font-weight: bold;
            font-size: 20px;
            border: 1px solid #000000;
            transition-duration: 0.4s;
            -webkit-transition-duration: 0.4s;}
        #post:hover{
            background-color: #000000;
            color: white;
            border: 1px solid white;
        }    
        #settings{
            background-color: white;
            color: black;
            font-family: Helvetica;
            font-weight: bold;
            font-size: 20px;
            border: 1px solid #000000;
            transition-duration: 0.6s;
            -webkit-transition-duration: 0.6s;
        }
        #settings:hover{
            background-color: #000000;
            color: white;
            border: 1px solid white;
        }
        #post_image{
            background-color: white;
            color: black;
            font-family: Helvetica;
            font-weight: bold;
            font-size: 20px;
            border: 1px solid #000000;
            transition-duration: 0.6s;
            -webkit-transition-duration: 0.6s;
        }
        #post_image:hover{
            background-color: #000000;
            color: white;
            border: 1px solid white;
        }
        #logout{
            background-color: white;
            color: black;
            font-family: Helvetica;
            font-weight: bold;
            font-size: 20px;
            border: 1px solid #000000;
            transition-duration: 0.6s;
            -webkit-transition-duration: 0.6s;
        }
        #logout:hover{background-color: #000000;
            color: white;
            border: 1px solid white;}
                #login{
            background-color: white;
            color: black;
            font-family: Helvetica;
            font-weight: bold;
            font-size: 20px;
            border: 1px solid #000000;
            transition-duration: 0.4s;
            -webkit-transition-duration: 0.4s;}
        #login:hover{
            background-color: #000000;
            color: white;
            border: 1px solid white;
        }    
        #register {
            background-color: white;
            color: black;
            font-family: Helvetica;
            font-weight: bold;
            font-size: 20px;
            border: 1px solid #000000;
            transition-duration: 0.6s;
            -webkit-transition-duration: 0.6s;
        }
        #register:hover {
            background-color: #000000;
            color: white;
            border: 1px solid white;
        }
        #feedback {
            background-color: white;
            color: black;
            font-family: Helvetica;
            font-weight: bold;
            font-size: 20px;
            border: 1px solid #000000;
            transition-duration: 0.6s;
            -webkit-transition-duration: 0.6s;
        }
        #feedback:hover {
            background-color: #000000;
            color: white;
            border: 1px solid white;
        }
        #search_query{border: 2px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
            width:130px;
        -webkit-transition: width 0.4s ease-in-out;
            transition: width 0.4s ease-in-out;}
        #search_query:focus{width: 225px;}
#search{width:20px;
            height:20px;
            vertical-align: middle;
            margin-bottom: 4px;
            cursor: pointer;
            border:2px solid #ddd;
            border-radius: 3px;
            transition-duration: 0.6s;
            -webkit-transition-duration: 0.6s;}
#search:hover{background-color: #ddd;
        border: 2px solid #ddd;
        border-radius: 3px;
        }
    a{transition-duration: 0.4s;
            -webkit-transition-duration: 0.4s;
            padding-left: 2px;
            padding-right: 2px;
            padding-top: 13px;}
        a:hover{background-color: #d9d9d9;
            padding-top: 13px;
            border-radius:3px;
            padding-left: 2px;
            padding-right: 2px;}

        </style>
<html>
	<head>
		<meta charset="utf-8">
		<title>American Voice</title>
	</head>
	<header link="black">
	    <a href="https://american-voice.herokuapp.com/"><h1>The American Voice</h1></a>
        <form class="form" method="post">
        <input name="search_query" type="text" placeholder="Search" id="search_query">
        <input name = "search" type="image" src="https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-128.png" id="search" >
        <input type="hidden" name="search" value="search"/>
        <% if defined?(session["user"]) && logged_in?(session["user"]) %>
            <% if privilege(session["user"]) > 0 %>
                <input name="feedback" type="submit" value="Feedback" id="feedback">
                <input name="post" type="submit" value="Post Text" id="post">
                <input name="post_image" type="submit" value="Post Image" id="post_image">
            <% end %>
                <input name="settings" type="submit" value="Settings" id="settings">
                <input name="logout" type="submit" value="Logout" id="logout">
        <% else %>
            <input name="login" type="submit" value="Login" id="login">
            <input name="register" type="submit" value="Register" id="register">
        <% end %>
        </form>
	</header>
	<body>
		<%= yield %>
	</body>
</html>