<form method="post">
	<d1>
		<dt>Username:</dt>
		<dd><input name="username" type="text"></dd>
		<dt>Password:</dt>
		<dd><input name="password" type="password"></dd>
		<dt>
		<%= @error_message if @error_message != "" %>
		</dt>
	</d1>
	<p><input type="submit" value="Send"></p>
</form>
