<html>
<style>
#form{ float: left;
      position: relative;
      left: 35%;
      border-style: solid;
      border-color:3px black;
      width: 300px; <!-- box that encompasses elements -->
      padding-top:10px;
  }
#login2{background-color: white;
            float: left;
          position: relative;
          left: 33%;
            color: black;
            font-family: Helvetica;
            font-weight: bold;
            font-size: 20px;
            border: 1px solid #000000;
            margin-bottom: 20px;
            transition-duration: 0.4s;
            -webkit-transition-duration: 0.4s; <!-- login button-->}
#login2:hover{background-color: #000000;
        color: white;
            border: 1px solid white;}
dt1,dt2{font-family: helvetica;
  font-weight: bold;
  padding-left:70px;
}
dt3{color:red;
}
#username{
  font-family: arial;
  font-size:14px;

}
</style>
<body>
<form method="post" id="form">
  <d1>
    <dt1>Username:</dt1>
    <dd><input name="username" type="text" id="username"></dd>
    <dt2>Password:</dt2>
    <dd><input name="password" type="password" id=""></dd>
    <dt3> <%= @error_message if @error_message != "" %>
    </dt3>
  </d1>
  <p><input name = "submit" type="submit" value="Login" id="login2"></p>
</form>
</body>
</html>