<h1>User Registered!</h1>
<p>We've sent you an email to confirm your registration</p>
<p>Continue back to home page</p>
<form method="post">
	<p><input name="home" type="submit" value="Home"></p>
</form>
