<form method="post">
	<d1>
		<dt>Article Title:</dt>
		<% if @title == nil %>
			<dd><input name="post_title" type="text"></dd>
		<% else %>
			<dd><input name="post_title" type="text" value="<%=@title%>"></dd>
		<% end %>
		<dt>Article Body:</dt>
		<% if @body == nil %>
			<dd><textarea name="post_body" style="width:500px;height:400px;"></textarea></dd>
		<% else %>
			<dd><textarea name="post_body" style="width:500px;height:400px; "><%=@body%></textarea></dd>
			<dt>Tags:</dt>
		<% end %>
		<% if @tags == nil %>
			<dd><input name="post_tags" type="text"></dd>
		<% else %>
			<dd><input name="post_tags" type="text" value="<%=@tags%>"></dd>
		<% end %>
		<dd><%= "Nothing can be left empty" if @post_error %>
	</d1>
	<p><input name="enter_post" type="submit" value="Submit Post" id="enter_post"></p>
</form>
