<form method="post">
	<d1>
		<dt>If you have a key, enter it here:</dt>
		<dd><input name="key" type="text"></dd>
		<%="Invalid Key" if @key_error%>
	</d1>
	<p><input name="submit" type="submit" value="Register Key" id="enter_key"></p>
</form>
