<!-- home.erb -->
<html>

<head>
</head>
<style>
  h1 {
    border-bottom: 5px solid white;
    border-bottom-style: ridge;
  }
  h1 {
    font-family: Helvetica;
    font-weight: bolder;
  }
  #logout {
    background-color: white;
    color: black;
    font-family: Helvetica;
    font-weight: bold;
    float: right;
    font-size: 20px;
    border: 1px solid #000000;
  }
  #settings {
    background-color: white;
    color: black;
    font-family: Helvetica;
    font-weight: bold;
    float: right;
    font-size: 20px;
    border: 1px solid #000000;
  }
  #form{
  display:inline-block;
  float:right;
}
</style>

<h1>The American Voice
	<form method="post">
	<input name="logout" type="submit" value="Logout" id="logout"> &nbsp
	<input name="settings" type="submit" value="Settings" id="settings"></h1>
</html>