<html>
<style>
h3{font-family: helvetica;
	font-size: 30px;
	padding-left: 2px;}
h5{font-family: helvetica;
	font-weight: bold;
	padding-left: 4px;
}
p1{font-family: arial;
}
#home{background-color: white;
            color: black;
            font-family: Helvetica;
            font-weight: bold;
            font-size: 20px;
            border: 1px solid #000000;
            transition-duration: 0.6s;
            -webkit-transition-duration: 0.6s;}
#home:hover{background-color: black;
            color: white;
            border: 1px solid black;}
#edit{background-color: white;
            color: black;
            font-family: Helvetica;
            font-weight: bold;
            font-size: 20px;
            border: 1px solid #000000;
            transition-duration: 0.6s;
            -webkit-transition-duration: 0.6s;}
#edit:hover{background-color: #33cc33;
            color: white;
            border: 1px solid black;}	
#delete{background-color: white;
            color: black;
            font-family: Helvetica;
            font-weight: bold;
            font-size: 20px;
            border: 1px solid #000000;
            transition-duration: 0.6s;
            -webkit-transition-duration: 0.6s;}
#delete:hover{background-color: red;
            color: white;
            border: 1px solid black;}
#comment{background-color: white;
            color: black;
            font-family: Helvetica;
            font-weight: bold;
            font-size: 20px;
            border: 1px solid #000000;
            transition-duration: 0.6s;
            -webkit-transition-duration: 0.6s;}
#comment:hover{background-color: black;
            color: white;
            border: 1px solid black;}
#post_content{
      max-width:550px;
}

</style>

<head>

</head>
<body>

<div id="post_content">
<h3><%= @title %></h3>
<h5>by <%= @dn %></h5>
<% @body.split("\n").each do |line| %>
<p><%=line%></p>
<% end %>
<br>
<p1>Tags: <i><%= @tags %></i></p1>

<form method="post">
	<p><input name="home" type="submit" value="Home" id="home"></p>

<% if @editable %>
	<p><input name="edit" type="submit" value="Edit Post" id="edit"></p>
	<p><input name="delete" type="submit" value="Delete Post" id="delete"></p>
      <% if @commentable %>
            <p><textarea name="comment_field" style="width:500px"></textarea></p>
            <button name="comment" id="comment">Post Comment</button>
            <input type="hidden" name ="root_value" value="<% @title %>">
      <% end %>
<% end %>
</form>
</div>
</body>
</html>